html, body {
  margin: 0;
  background-color: black;
  padding-bottom: 0;
  min-height: 100%;
  overflow-x:hidden;
}

img {
    max-width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  font-family: 'Karla', sans-serif;
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #black;
  color: #C80000;
}

.navamb {
  display: block;
  width: 100%;
  padding: 2%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.houghtonav {
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  background-color: black;
  color: #C80000;
  text-align: center;
  font-size: 25px;
}

.menuhead {
  position: absolute;
  background-color: #1A1A1A;
  width: 100%;
}

.pizza {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 80px;
  text-align: center;
  background-color: black;
  width: 50%;
  position: relative;
  left: 25%;
}

.secondnav {
    overflow: hidden;
    background-color: black;
    top: 285px;
    position: relative;
    color: white;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
}

.secondnav a {
  font-family: 'Karla', sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.secondnav a:hover {
  color: #C80000;
}

.background {
  height: 2800px;
  color: black;
}

.menubox {
  padding: 4%;
  background-color: #1A1A1A;
  position: absolute;
  top: 600px;
  margin-left: 4%;
  width: 60%;
}

.funfact {
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 25px;
}

.itemname {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  color: white;
}

.description {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  color: #D3D3D3;
  width: 90%;
}

.cost {
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  color: #C80000;
}

footer {
  font-family: 'Karla', sans-serif;
  padding: 3px;
  background-color: white;
  color: black;
  border-top: 5px solid #C80000;
  margin-top: 0px;
}


.fbpic {
  position: relative;
  top: -16px;
  left: 58%;
}

.contact {
  position: relative;
  font-family: 'Karla', sans-serif;
  position: relative;
  left: 40%;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: -28px;
}

.links a {
  position: relative;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  position: relative
  padding: 2%;
  color: black;
  left: 50%;
}

.links a:hover {
  color: #C80000;
}

.phone {
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  left: 50%;
}
