html, body {
  margin: 0;
  background-color: black;
  padding-bottom: 0;
  min-height: 100%;
  overflow-x:hidden;
}

img {
    max-width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  font-family: 'Karla', sans-serif;
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #black;
  color: #C80000;
}

.navamb {
  display: block;
  width: 100%;
  padding: 2%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.houghtonav {
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  background-color: black;
  color: #C80000;
  text-align: center;
  font-size: 25px;
}

.pizzapic {
  position: absolute;
  left: 10%
}

.box1 {
    position: relative;
    background-color: #000;
    color: #fff;
    opacity: .7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    padding: 10px;
    top: 50px;
}

.takenbake {
    position: relative;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 100px;
    left: 30%;
    top: -300px;
}

.pizzatogo {
    position: relative;
    font-family: 'Karla', sans-serif;
    color: #C1C1C1;
    font-size: 40px;
    left: 42%;
    top: -300px;
}

.background {
  height: 2000px;
  color: black;
}

.instructions {
  padding: 4%;
  background-color: #1A1A1A;
  position: relative;
  top: 60px;
  margin-left: 21%;
  width: 50%;
}

.funfact {
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 35px;
  text-align: center;
}

.option {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

.info {
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  color: #B8B8B8;
  font-size: 30px;
  text-align: center;
  position: relative;
  width: 70%;
  left: 110px;
}

hr {
  border: 1px solid #C80000;
  width: 50%;
}


.instructions2 {
  padding: 4%;
  background-color: #1A1A1A;
  position: absolute;
  top: 2000px;
  margin-left: 21%;
  width: 50%;
}

.info2 {
  font-family: 'Karla', sans-serif;
  color: #B8B8B8;
  font-size: 35px;
  text-align: left;
  position: relative;
  width: 70%;
  left: 190px;
  line-height: 50px;
  padding-top: 10%;
}

.numbers {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 75px;
  position: absolute;
  left: 150px;
  top: 205px;
}

.numbers2 {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 75px;
  position: absolute;
  left: 150px;
  top: 550px;
}

footer {
  font-family: 'Karla', sans-serif;
  padding: 3px;
  background-color: white;
  color: black;
  border-top: 5px solid #C80000;
}


.fbpic {
  position: relative;
  top: -16px;
  left: 58%;
}

.contact {
  position: relative;
  font-family: 'Karla', sans-serif;
  position: relative;
  left: 40%;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: -28px;
}

.links a {
  position: relative;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  position: relative
  padding: 2%;
  color: black;
  left: 50%;
}

.links a:hover {
  color: #C80000;
}

.phone {
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  left: 50%;
}
